
# Desktop Services Store

.DS_Store
._.DS_Store
._*
*~

# build folder

Standalone/build/
Standalone/build_win/

workR/standalone/test.mbsdata

# movie recorded
animationR/*

#eclipse stuff (to be move somewhere else)
Standalone/src/.cproject
Standalone/src/.project
